<article>
  <header>
    <a {{bind-attr href=user.githubUrl}} target="_blank">
      <img class="avatar" {{bind-attr src=user.avatarUrl}}/>
    </a>

    <div class="info">
      <span>added this task {{from-now value=createdAt}}</span>

      {{#if assignee}}
        <div class="assignee">
          <img class="avatar" {{bind-attr src=assignee.avatarUrl data-dropdown=removeUserGuid}}/>
          <span>is assigned</span>
        </div>
      {{/if}}
    </div>

    <div class="actions">
      <span class="fa fa-user" {{bind-attr data-dropdown=assignUserGuid}}></span>
      <span class="fa fa-check complete" {{action "toggleCompleted"}}</span>
      <span class="fa fa-pencil" {{action "edit"}}</span>
      <span class="fa fa-trash-o" {{action "remove"}}</span>
    </div>

    <ul class="f-dropdown content" {{bind-attr data-dropdown-content=true id=removeUserGuid}}>
      <li>
        <a {{action "removeUser"}}>Remove from Task</a>
      </li>
    </ul>

    <ul class="f-dropdown content" {{bind-attr data-dropdown-content=true id=assignUserGuid}}>
      {{#each parentController.sortedUsers}}
        <li>
          <a {{action "assignUser" this}}>
            <img class="avatar" {{bind-attr src=avatarUrl}}/>
            <span class="nickname">{{nickname}}</span>
          </a>
        </li>
      {{/each}}
    </ul>
  </header>

  <div class="content">
    {{#if isEditing}}
      {{edit-text-field class="edit" value=bufferedTitle insert-newline="doneEditing" escape-press="cancelEditing"}}
    {{else}}
      {{#link-to "task" id tagName="div" parentActiveView=view parentActiveClass="active" preventDefault=false}}
        <span class="title">{{title}}</span>
      {{/link-to}}
    {{/if}}
  </div>

  {{#if comments.length}}
    {{#link-to "task" id tagName="footer" parentActiveView=view parentActiveClass="active"}}
      <span>{{comments.length}} {{pluralize comments.length single="comment"}}</span>
    {{/link-to}}
  {{/if}}
</article>
