<ul class="comments">
  {{#each comments itemController="comment"}}
    <li>
      {{#if isEditing}}
        {{edit-text-area class="edit" value=bufferedBody escape-press="cancelEditing"}}
      {{else}}
        {{markdown body}}
      {{/if}}

      <span class="info">{{user.nickname}} commented {{from-now value=createdAt}}</span>

      <span class="actions">
        {{#if isEditing}}
          <span class="fa fa-check-circle" {{action "doneEditing"}}></span>
        {{else}}
          <span class="fa fa-pencil" {{action "edit"}}></span>
        {{/if}}

        <span class="fa fa-trash-o" {{action "remove"}}></span>
      </span>
    </li>
  {{/each}}
</ul>

<form {{action "createComment" on="submit"}}>
  {{textarea value=newCommentBody placeholder="What comments do you have?"}}
  {{input type="submit" value="Add Comment" class="button"}}
</form>
